<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>emergency.html</title>
		<meta charset = "UTF-8" />
	</head>
	<body>
		<h1>Emergency Contact/Parent and Guardian Information Form</h1>
		<p>Information is for Chinese Mutual Aid Association internal use only.</p>
		<form>
			<fieldset>
				<legend>Parent/Guardian #1</legend>
				<p>
					<label>Name:</label>
					<input type = "text"
							id = "name1"/>
				</p>
				<p>
					<label>Birthday:</label>
					<input type = "text"
							id = "birthday1"/>
				</p>
				<p>
					<label>Relation: (Choose one)</label>
					<input type = "radio"
							name = "relation1"
							value = "Mom">Mom
					<input type = "radio"
							name = "relation1"
							value = "Dad">Dad
					<input type = "radio"
							name = "relation1"
							value = "Other">Other
				</p>
				<p>
					<label>Phone number:</label>
					<input type = "text"
							id = "phone1"/>
				</p>
				<p>
					<label>Email address:</label>
					<input type = "text"
							id = "email1"/>
				</p>
				<p>
					<label>Primary language: (Choose one)</label>
					<input type = "radio"
							name = "language1"
							value = "English">English
					<input type = "radio"
							name = "language1"
							value = "Mandarin">Mandarin
					<input type = "radio"
							name = "language1"
							value = "Cantonese">Cantonese
					<input type = "radio"
							name = "language1"
							value = "Vietnamese">Vietnamese		
					<input type="radio" 
							name="language1" 
							value="">Other 
							<input type="text"
									id = "language1"/>
				</p>
				<p>
					<label>Are you a United States citizen?</label>
					<input type = "radio"
							name = "citizen1"
							value = "Yes">Yes
					<input type = "radio"
							name = "citizen1"
							value = "No">No
				</p>
				<p>
					<label>Are you registered to vote?</label>
					<input type = "radio"
							name = "vote1"
							value = "Yes">Yes
					<input type = "radio"
							name = "vote1"
							value = "No">No
				</p>
				<p>
					<label>Are you interested in other CMAA services, including free English classes, free elderly assistance for eligible seniors, or otherwise?</label>
					<input type = "radio"
							name = "services1"
							value = "Yes">Yes
					<input type = "radio"
							name = "services1"
							value = "No">No
				</p>
			</fieldset>

			<fieldset>
				<legend>Parent/Guardian #2</legend>
				<p>
					<label>Name:</label>
					<input type = "text"
							id = "name2"/>
				</p>
				<p>
					<label>Birthday:</label>
					<input type = "text"
							id = "birthday2"/>
				</p>
				<p>
					<label>Relation: (Circle one)</label>
					<input type = "radio"
							name = "relation2"
							value = "Mom">Mom
					<input type = "radio"
							name = "relation2"
							value = "Dad">Dad
					<input type = "radio"
							name = "relation2"
							value = "Other">Other
				</p>
				<p>
					<label>Phone number:</label>
					<input type = "text"
							id = "phone2"/>
				</p>
				<p>
					<label>Email address:</label>
					<input type = "text"
							id = "email2"/>
				</p>
				<p>
					<label>Primary language: (Choose one)</label>
					<input type = "radio"
							name = "language2"
							value = "English">English
					<input type = "radio"
							name = "language2"
							value = "Mandarin">Mandarin
					<input type = "radio"
							name = "language2"
							value = "Cantonese">Cantonese
					<input type = "radio"
							name = "language2"
							value = "Vietnamese">Vietnamese		
					<input type="radio" 
							name="language2" 
							value="">Other 
							<input type="text"
									id = "language2"/>
				</p>
				<p>
					<label>Are you a United States citizen?</label>
					<input type = "radio"
							name = "citizen2"
							value = "Yes">Yes
					<input type = "radio"
							name = "citizen2"
							value = "No">No
				</p>
				<p>
					<label>Are you registered to vote?</label>
					<input type = "radio"
							name = "vote2"
							value = "Yes">Yes
					<input type = "radio"
							name = "vote2"
							value = "No">No
				</p>
				<p>
					<label>Are you interested in other CMAAA services, including free English classes, free elderly assistance for eligible seniors, or otherwise?</label>
					<input type = "radio"
							name = "services2"
							value = "Yes">Yes
					<input type = "radio"
							name = "services2"
							value = "No">No
				</p>
			</fieldset>
			<fieldset>
				<p>
					<label>My child can walk home from CMAA by him/herself.</label>
					<input type = "radio"
							name = "walk"
							value = "Yes">Yes
					<input type = "radio"
							name = "walk"
							value = "No">No
				</p>
				<p>
					<label>When I'm not able to pick up my child from CMAA, the following people have permission to do so:</label>
				</p>
			</fieldset>
			<fieldset>
				<legend>Pick-up Person #1</legend>
				<p>
					<label>Name:</label>
					<input type = "text"
							id = "name3"/>
				</p>
				<p>
					<label>Relation/Title:</label>
					<input type = "text"
							id = "relation3"/>
				</p>
				<p>
					<label>Phone number:</label>
					<input type = "text"
							id = "phone3"/>
				</p>
				<p>
					<label>Primary language: (Choose one)</label>
					<input type = "radio"
							name = "language3"
							value = "English">English
					<input type = "radio"
							name = "language3"
							value = "Mandarin">Mandarin
					<input type = "radio"
							name = "language3"
							value = "Cantonese">Cantonese
					<input type = "radio"
							name = "language3"
							value = "Vietnamese">Vietnamese		
					<input type="radio" 
							name="language3" 
							value="">Other 
							<input type="text"
									id = "language3"/>
				</p>
				<p>
					<label>Are you a United States citizen?</label>
					<input type = "radio"
							name = "citizen3"
							value = "Yes">Yes
					<input type = "radio"
							name = "citizen3"
							value = "No">No
				</p>
				<p>
					<label>Are you registered to vote?</label>
					<input type = "radio"
							name = "vote3"
							value = "Yes">Yes
					<input type = "radio"
							name = "vote3"
							value = "No">No
				</p>
				<p>
					<label>Are you interested in other CMAAA services, including free English classes, free elderly assistance for eligible seniors, or otherwise?</label>
					<input type = "radio"
							name = "services3"
							value = "Yes">Yes
					<input type = "radio"
							name = "services3"
							value = "No">No
				</p>
			</fieldset>
			<fieldset>
				<legend>Pick-up Person #2</legend>
				<p>
					<label>Name:</label>
					<input type = "text"
							id = "name4"/>
				</p>
				<p>
					<label>Relation/Title:</label>
					<input type = "text"
							id = "relation4"/>
				</p>
				<p>
					<label>Phone number:</label>
					<input type = "text"
							id = "phone4"/>
				</p>
				<p>
					<label>Primary language: (Choose one)</label>
					<input type = "radio"
							name = "language4"
							value = "English">English
					<input type = "radio"
							name = "language4"
							value = "Mandarin">Mandarin
					<input type = "radio"
							name = "language4"
							value = "Cantonese">Cantonese
					<input type = "radio"
							name = "language4"
							value = "Vietnamese">Vietnamese		
					<input type="radio" 
							name="language4" 
							value="">Other 
							<input type="text"
									id = "language4"/>
				</p>
				<p>
					<label>Are you a United States citizen?</label>
					<input type = "radio"
							name = "citizen4"
							value = "Yes">Yes
					<input type = "radio"
							name = "citizen4"
							value = "No">No
				</p>
				<p>
					<label>Are you registered to vote?</label>
					<input type = "radio"
							name = "vote4"
							value = "Yes">Yes
					<input type = "radio"
							name = "vote4"
							value = "No">No
				</p>
				<p>
					<label>Are you interested in other CMAAA services, including free English classes, free elderly assistance for eligible seniors, or otherwise?</label>
					<input type = "radio"
							name = "services4"
							value = "Yes">Yes
					<input type = "radio"
							name = "services4"
							value = "No">No
				</p>
			</fieldset>
		</form>
	</body>
</html>